.node-list {
  $self: &;
  &__header {
    .inquiry-form-button {
      &:focus,
      &:hover {
        background-color: $primary;
      }
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  }
  &__body {
    display: none;
  }
  &.inquiry-form {
    .marko-web-icon svg {
      fill: $white;
    }
    &--open {
      #{ $self }__body {
        display: block;
      }
    }
  }
}
