.hero-card {
  &__header {
    @include skin-typography($style: "section-header");
  }

  &__description-wrapper {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-top: 6px;
    margin-bottom: 24px;
    @include media-breakpoint-up(md) {
      margin-bottom: 30px;
    }
  }

  &__description {
    @include skin-typography($style: "article-text");
  }

  &__view-more {
    @include skin-typography($style: "view-more", $link-style: "primary");

    display: none;
    @include media-breakpoint-up(md) {
      display: block;
    }
  }

  &__view-more-bottom {
    @include skin-typography($style: "view-more", $link-style: "primary");

    display: block;
    margin-top: 4px;
    @include media-breakpoint-up(md) {
      display: none;
    }
  }
  .card-deck-flow {
    .node {
      padding: 0;
      &__title {
        font-weight: $font-weight-bold;
      }
      &__website-section-name {
        @include skin-typography($style: "slug-small", $link-style: "primary");
      }
    }
    &--hero {
      .node {
        @include media-breakpoint-up(md) {
          &__title {
            @include skin-typography($style: "header-2", $link-style: "primary");
          }
        }
      }
    }
  }
}
