.page {
  &--profile, &--authenticate {
    .custom-control {
      padding-left: 2rem;
    }
    .custom-control-label {
      line-height: 1.4;
    }
    .boolean-questions-label {
      @include skin-typography($style: "header-2", $link-style: "primary");
      margin-bottom: map-get($spacers, 2)
    }
  }
  form {
    .custom-control-label::before {
      border-radius: 4px;
    }
    .custom-control-label {
      strong {
        font-size: 18px;
        line-height: 1.22;
      }
    }
    .boolean-questions-label {
      font-size: 18px;
      margin-bottom: 1rem;
    }
    .csmulti-legend {
      font-size: 1rem;
    }
    .csmulti-inner {
      overflow-y: auto;
      max-height: 132px;
    }
    .csmulti + .input-group {
      margin-top: 0.5rem;
    }
    div.checkbox-group + fieldset.csmulti-group {
      margin-top: 0.5rem;
    }
    .csmulti-wrapper {
      max-height: 150px;
      overflow: hidden;
      border: $input-border-width solid $input-border-color;
      @include border-radius($input-border-radius, 0);
      background-color: #f8f8f8;
    }
    fieldset {
      @include border-radius($input-border-radius, 0);
    }
  }
  &--profile {
    .success-message {
      min-height: calc(60vh);
      @include skin-typography($style: "article-text", $link-style: "content-body");
      &__title {
        @include skin-typography($style: "header-2", $link-style: "primary");
        margin: 2rem 0;
      }
      button {
        @include skin-typography($style: "article-text", $link-style: "primary");
        color: $primary;
        padding: 0;
        margin: 0;
        background: none;
        border: none;
        text-decoration: underline;
      }
    }
  }
}
