.page {
  &--profile, &--authenticate {
    .custom-control {
      padding-left: 2rem;
    }
    .custom-control-label {
      line-height: 1.4;
    }
    .boolean-questions-label {
      @include skin-typography($style: "header-2", $link-style: "primary");
      margin-bottom: map-get($spacers, 2)
    }
  }
  form {
    .custom-control-label::before {
      border-radius: 4px;
    }
    .custom-control-label {
      strong {
        font-size: 18px;
        line-height: 1.22;
      }
    }
    .boolean-questions-label {
      font-size: 18px;
      margin-bottom: 1rem;
    }
    .csmulti-wrapper {
      border: 1px solid #91939c !important;
      border-radius: 4px;
      background-color: #f8f8f8;
    }
    fieldset {
      border-radius: 4px;
    }
  }
  &--profile {
    .text-success {
      @include skin-typography($style: "article-text", $link-style: "content-body");
      &__title {
        @include skin-typography($style: "header-2", $link-style: "primary");
        margin-top: map-get($spacers, 2);
        margin-bottom: map-get($spacers, 2);
      }
    }
  }
}
