.pagination-controls,
.marko-web-search-pagination-controls {
  display: flex;
  align-items: center;
  padding-top: map-get($spacers, block);

  &__prev {
    margin-right: map-get($spacers, block);
  }

  &__next {
    margin-left: map-get($spacers, block);
  }

  &__before {
    margin-right: map-get($spacers, block);
    .btn {
      margin-bottom: 12px;
      &:first-child {
        margin-right: map-get($spacers, block) / 2;
      }
    }
  }

  &__after {
    .btn {
      margin-bottom: 12px;
      &:first-child {
        margin-right: map-get($spacers, block) / 2;
      }
    }
  }

  &__pages {
    @include skin-typography($style: "teaser-text-1");
    line-height: 1;
  }
}
