.page-dates {
  &__content-published,
  &__content-starts,
  &__content-start-date,
  &__content-ends,
  &__content-end-date {
    @include skin-typography($style: "date");
    display: inline;
    text-transform: none;
  }

  &__content-updated::before {
    content: " | ";
  }

  &__content-starts + &__content-ends,
  &__content-start-date + &__content-end-date {
    &::before {
      margin-right: map-get($spacers, 1);
      margin-left: map-get($spacers, 1);
      content: "\2014";
    }
  }
}
