.site-footer {
  /*! critical */
  $self: &;
  position: relative;
  z-index: 1500;
  margin-top: 20px;

  font-family: $theme-site-footer-font-family;
  font-size: $theme-site-footer-font-size;
  font-weight: $theme-site-footer-font-weight;
  line-height: $theme-site-footer-line-height;
  box-shadow: $theme-site-footer-box-shadow;
  opacity: $theme-site-footer-opacity;

  color: $white;

  &__container {
    /*! critical */
    @include make-container();
    padding-top: 28px;
    padding-bottom: 28px;
    text-align: left;

    @include media-breakpoint-down($theme-responsive-text-breakpoint) {
      padding-top: $theme-site-footer-spacer-sm;
      padding-bottom: $theme-site-footer-spacer-sm;
    }

    &--secondary {
      padding-bottom: 0;
      background-color: $theme-site-footer-secondary-bg-color;
    }

    &--primary {
      background-color: $theme-site-footer-primary-bg-color;
    }
  }

  &__inner-container {
    display: flex;
    flex-direction: column;
    max-width: $marko-web-document-container-max-width;
    margin-right: auto;
    margin-left: auto;
  }

  &__section {
    margin-bottom: 32px;
    @include make-col-ready();

    @include media-breakpoint-up(md) {
      @include make-col(4);
    }
  }

  &__item {
    margin: 0 $theme-site-footer-spacer;
    @include media-breakpoint-down($theme-responsive-text-breakpoint) {
      margin: 0 $theme-site-footer-spacer-sm;
    }
  }

  &__items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 0;
    margin-bottom: $theme-site-footer-spacer;
    list-style: none;
    @include media-breakpoint-down($theme-responsive-text-breakpoint) {
      margin-bottom: $theme-site-footer-spacer-sm;
      font-size: $theme-site-footer-copyright-font-size;
    }
  }

  &__link {
    display: block;
    padding: 0;
    color: $global-site-footer-color;
    &:hover {
      color: $global-site-footer-color;
    }
  }

  &__brand {
    display: inline-block;
    margin-right: auto;
    margin-bottom: 33px;
    margin-left: auto;
  }

  &__logo {
    height: $theme-site-footer-logo-height;
    filter: brightness(0) invert(1);
    @include media-breakpoint-down($theme-responsive-text-breakpoint) {
      height: $theme-site-footer-logo-height-sm;
    }
  }

  &__copyright {
    text-align: center;
  }

  &__copyright, &__copyright a {
    font-size: $theme-site-footer-copyright-font-size;
    font-weight: $theme-site-footer-copyright-font-weight;
    line-height: $theme-site-footer-copyright-line-height;
    color: $theme-site-footer-copyright-color;
  }

  &__corporate-link {
    margin-right: auto;
    margin-bottom: $theme-site-footer-spacer;
    margin-left: auto;
  }

  &__corporate-logo {
    height: $theme-site-footer-corporate-logo-height;
  }

  &__social-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: $theme-site-footer-spacer;
    @include media-breakpoint-down($theme-responsive-text-breakpoint) {
      margin-bottom: $theme-site-footer-spacer-sm;
    }

    a {
      margin: 0 $theme-site-footer-spacer;
      @include media-breakpoint-down($theme-responsive-text-breakpoint) {
        margin: 0 $theme-site-footer-spacer-sm;
      }
    }
  }

  &__tagline {
    margin-bottom: 33px;
    font-size: 22px;
    font-style: italic;
    color: $white;
    text-align: center;
  }
  .newsletter-form {
    .btn-secondary {
      background-color: $primary;
      border-color: $primary;
      color: $white;
      &:hover {
        color: $white;
      }
    }
  }
}

.site-footer-nav {
  &__header {
    @include skin-typography($style: "footer-header-1");
    margin-bottom: 8px;
  }

  &__items {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }

  &__item {
    @include skin-typography($style: "footer-text");
    margin-bottom: 8px;
  }

  &__link {
    color: $gray-100;
    &:hover {
      color: $gray-100;
    }
  }
}

.site-footer-newsletter {
  padding-right: 20px;
  &__header {
    @include skin-typography($style: "footer-header-1");
    margin-bottom: 8px;
  }

  &__description {
    @include skin-typography($style: "footer-text");
    margin-bottom: 16px;
  }

  label {
    color: $white;
  }
}

.breadcrumbs {
  &--site-footer {
    margin-bottom: $theme-site-footer-spacer;
    text-transform: none;

    @include media-breakpoint-down($theme-responsive-text-breakpoint) {
      font-size: $theme-site-footer-font-size;
    }

    .breadcrumb {
      justify-content: center;
      padding: 0;
      background-color: transparent;
    }

    a {
      color: $global-site-footer-color;
      &:hover {
        color: $global-site-footer-color;
      }
    }

    .breadcrumb-item + .breadcrumb-item {
      &::before {
        color: $global-site-footer-color;
      }
    }
  }
}

.social-follow {
  $self: &;
  &--site-footer {
    #{ $self } {
      &__header {
        color: skin-typography-prop("footer-header-1", "color");
      }

      &__section {
        // stylelint-disable-next-line
        > .social-icon-link {
          margin-right: 16px;
        }
      }
    }
  }
}
