.site-header {
  position: static;
  right: 0;
  left: 0;
  z-index: $theme-site-header-z-index;
  box-shadow: $theme-site-header-box-shadow;
  opacity: $theme-site-header-opacity;
  border-bottom: 1px solid $gray-400;
}
