.wallpaper-ad {
  $width: 300px;

  position: fixed;
  right: 0;
  left: 0;

  display: none;

  @media (min-width: 1400px) {
    display: block;
  }

  &__left,
  &__right {
    position: absolute;
    top: 0;
  }

  &__left {
    left: 0;
  }
  &__right {
    right: 0;
  }

  @media (max-width: calc($marko-web-document-container-max-width + ($width * 2))) {
    $lr: calc((100vw - $marko-web-document-container-max-width - ($width * 2)) / 2);
    &__left {
      left: $lr;
    }
    &__right {
      right: $lr;
    }
  }
}
