$ const { config } = out.global;

$ const type = "authenticate";
$ const title = "Authenticate";

<marko-web-default-page-layout type=type title=title description=title>
  <@page>
    <marko-web-page-wrapper>
      <@section>
        <marko-web-identity-x-form-authenticate />
      </@section>
    </marko-web-page-wrapper>
  </@page>
</marko-web-default-page-layout>
