@font-face {
  /*! critical */
  font-family: synthese-fallback; /* stylelint-disable-line property-no-unknown */
  size-adjust: 112%; /* stylelint-disable-line property-no-unknown */
  src: local("Arial");
}
