$skin-font-family-primary: solitaire-mvb-pro, sans-serif;
$skin-font-family-secondary: informapro, sans-serif;

@import "@parameter1/base-cms-marko-web-theme-monorail/scss/core";
@import "@parameter1/base-cms-marko-web-leaders/scss/leaders";

/*! critical:start */
body {
  -webkit-font-smoothing: antialiased;
  letter-spacing: .25px;
}

.document-container {
  padding-top: 0;
}

.page {
  &:first-child {
    padding-top: 1rem;
  }
  &:last-child {
    padding-bottom: 1rem;
  }
  &--home {
    &:first-child {
      padding-top: 0;
    }
  }
}
/*! critical:end */
