@import "../../node_modules/@parameter1/base-cms-marko-web-theme-monorail/scss/core";
@import "../../node_modules/@parameter1/base-cms-marko-web-leaders/scss/leaders";

body {
  -webkit-font-smoothing: antialiased;
  letter-spacing: .25px;
}

.document-container {
  padding-top: 0;
}

.page {
  &:first-child {
    padding-top: 1rem;
  }
  &:last-child {
    padding-bottom: 1rem;
  }
  &--home {
    &:first-child {
      padding-top: 0;
    }
  }
}
