$input-bg: #f8f8f8 !default;
$input-border-color: $gray-500 !default;
$input-border-radius: 4px !default;
$input-border-width: 1px !default;
$input-box-shadow: none !default;
$input-color: $gray-800 !default;
$input-font-family: $skin-font-family-primary !default;
$input-font-size: 16px !default;
$input-font-weight: $font-weight-normal !default;
$input-line-height: 1 !default;
$input-padding-y: .9375rem;
$input-padding-x: 1.125rem;
$input-placeholder-color: $gray-700 !default;

$input-focus-border-color: $blue !default;
$input-focus-box-shadow: 0 0 0 1px $blue !default;

// custom
$skin-input-letter-spacing: .25px !default;
$skin-input-hover-border-color: $gray-900 !default;

$custom-select-focus-box-shadow: $input-focus-box-shadow !default;

$custom-control-indicator-size: 1.25rem !default;
