<marko-web-document ...input>
  <@head>
    <${input.head} />
  </@head>
  <@above-container>
    <p>Above container</p>
    <${input.aboveContainer} />
  </@above-container>
  <@below-container>
    <${input.belowContainer} />
    <p>Below container</p>
  </@below-container>
</marko-web-document>
