.load-more-trigger > button {
  display: inline-block;
  font-family: $theme-load-more-button-font-family;
  font-weight: $btn-font-weight;
  color: $theme-load-more-button-color;
  text-align: center;
  text-decoration: if($link-decoration == none, null, none);
  white-space: $btn-white-space;
  vertical-align: middle;
  user-select: none;
  border: $btn-border-width solid transparent;

  @include button-size($btn-padding-y-lg, $btn-padding-x-lg, $btn-font-size-lg, $btn-line-height-lg, $btn-border-radius-lg);
  @include transition($btn-transition);
  @include button-variant($primary, $primary);

  border-color: $theme-load-more-button-border-color;
  background-color: $theme-load-more-button-background-color;

  @include hover() {
    color: $body-color;
    text-decoration: none;
  }

  &:focus,
  &.focus {
    outline: 0;
    box-shadow: $btn-focus-box-shadow;
  }

  // Disabled comes first so active can properly restyle
  &.disabled,
  &:disabled {
    opacity: $btn-disabled-opacity;
    @include box-shadow(none);
  }

  &:not(:disabled):not(.disabled) {
    cursor: if($enable-pointer-cursor-for-buttons, pointer, null);

    &:active,
    &.active {
      @include box-shadow($btn-active-box-shadow);

      &:focus {
        @include box-shadow($btn-focus-box-shadow, $btn-active-box-shadow);
      }
    }
  }
}

.load-more-header {
  margin-bottom: $theme-load-more-bottom-spacing;
  font-family: $theme-load-more-header-font-family;
  font-size: $theme-load-more-header-font-size;
  font-weight: $theme-load-more-header-font-weight;
  line-height: $theme-load-more-header-line-height;
  color: $theme-load-more-header-color;
  text-align: $theme-load-more-header-text-align;
  text-transform: $theme-load-more-header-text-transform;
  @include theme-apply-responsive-fonts(
    $font-size: $theme-load-more-header-font-size-sm,
    $line-height: $theme-load-more-header-line-height-sm
  );
}
