@import "functions";
@import "variables";
@import "mixins";

// bootstrap and default theme components
@import "components/bootstrap";
@import "components/default-theme";

@import "@parameter1/base-cms-marko-web-social-sharing/scss/buttons";
@import "@parameter1/base-cms-marko-web-html-sitemap/scss/index";

// Default reveal ad css
@import "@parameter1/base-cms-marko-web-reveal-ad/scss/reveal-ad";

// theme components
@import "components/ad-container";
@import "components/author-node";
@import "components/author-bio-node";
@import "components/author-published-node";
@import "components/breadcrumbs";
@import "components/comments";
@import "components/content-page";
@import "components/identity-x";
@import "components/page-wrapper";
@import "components/pagination-controls";
@import "components/search-page";
@import "components/site-footer";
@import "components/site-header";
@import "components/site-menu";
@import "components/site-navbar";
@import "components/site-navbar-b";
@import "components/site-newsletter-menu";
@import "components/spec-guide";
@import "components/sponsor-logo";
@import "components/wallpaper-ad";

// theme component blocks
@import "components/blocks/callout-cards";
@import "components/blocks/content-card-deck";
@import "components/blocks/company-inquiry-form";
@import "components/blocks/hero-card";
@import "components/blocks/latest-content-list";
@import "components/blocks/latest-podcast";
@import "components/blocks/latest-products-feed";
@import "components/blocks/more-products";
@import "components/blocks/most-popular";
@import "components/blocks/newsletter-signup-banner";
@import "components/blocks/newsletter-signup-banner-large";
@import "components/blocks/newsletter-signup-site-footer";
@import "components/blocks/node-author";
@import "components/blocks/opinion";
@import "components/blocks/primary-image";
@import "components/blocks/products";
@import "components/blocks/promo-card";
@import "components/blocks/read-next";
@import "components/blocks/related-native-x-stories";
@import "components/blocks/related-stories";
@import "components/blocks/resource-library";
@import "components/blocks/section-card-deck-featured";
@import "components/blocks/section-card-list";
@import "components/blocks/section-feed";
@import "components/blocks/section-forbes";
@import "components/blocks/section-list";
@import "components/blocks/social-follow";
@import "components/blocks/top-stories";
@import "components/blocks/top-stories-menu";
@import "components/blocks/white-papers";

// theme component flows
@import "components/flows/card-deck";
@import "components/flows/incremented-nodes";

body {
  text-rendering: $theme-text-rendering;
}

.document-container {
  flex-shrink: 0;
  padding-top: calculate-navbar-height-for(default);

  @each $breakpoint, $width in sort-map-by-values($theme-site-header-breakpoints, desc) {
    @media (max-width: $width) {
      padding-top: calculate-navbar-height-for($breakpoint);
    }
  }

  @include media-breakpoint-down($theme-responsive-text-breakpoint) {
    padding-right: 0;
    padding-left: 0;
  }
}

.sticky-top {
  top: calculate-navbar-height-for(default);
  @each $breakpoint, $width in sort-map-by-values($theme-site-header-breakpoints, desc) {
    @media (max-width: $width) {
      top: calculate-navbar-height-for($breakpoint);
    }
  }
}
